In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
import random
from tqdm import tqdm_notebook as tqdm

In [2]:
base_dir = ''
business_df = pd.read_csv(base_dir + 'business_data.csv',encoding = 'utf-8')
print(business_df.shape)
print(business_df.info())
business_df.head()

D:\Users\Administrator\Anaconda3\envs\tensorflow_gpu\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (4,6,9,11,12,13,14,16,32,33,35,36,40,41,43,44,46,47,48,50,51) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(50000, 61)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 61 columns):
商机编号        50000 non-null int64
客户名称        50000 non-null object
是否被添加微信     50000 non-null object
贷款类型        50000 non-null object
房产性质        9723 non-null object
建房时长        9723 non-null float64
房产位置        9723 non-null object
房产面积        9723 non-null float64
房产市价        9723 non-null float64
有无房产证       9723 non-null object
房产证持有时长     5258 non-null float64
房产证持有信息     9723 non-null object
房产是否婚前      9723 non-null object
房产支付方式      9723 non-null object
可以办理抵押登记    9723 non-null object
有保单         50000 non-null object
缴费年限        17897 non-null object
裸车价         50000 non-null object
公里数         50000 non-null object
车辆类型        50000 non-null object
车牌区域        50000 non-null object
付款方式        50000 non-null object
客户年龄        50000 non-null float64
户口所在地       50000 non-null object
婚姻状况        50000 non-null object
子女个数        17897 non-null float64
民族          50000 non-null object
民族.1        50000 non-null object
是否军人        50000 non-null object
工作性质        50000 non-null object
经营年限        2031 non-null float64
经营流水        2031 non-null float64
是否限制行业      2031 non-null object
有营业执照       2031 non-null object
占股比例        2031 non-null float64
有经营场地       2031 non-null object
税务评级        2031 non-null object
工作性质.1      50000 non-null object
经营年限.1      2031 non-null float64
经营流水.1      2031 non-null float64
是否限制行业.1    2031 non-null object
有营业执照.1     2031 non-null object
占股比例.1      2031 non-null float64
有经营场地.1     2031 non-null object
税务评级.1      2031 non-null object
工资水平        31995 non-null float64
工资发放方式      31995 non-null object
有公积金        31995 non-null object
公积金基数       6335 non-null object
公积金年限       6335 non-null float64
公积金购买方式     6335 non-null object
有社保         31995 non-null object
社保已交年限      14345 non-null float64
芝麻信用分       50000 non-null float64
是否在黑名单      50000 non-null object
是否超额负债      50000 non-null object
是否本人咨询      50000 non-null object
是否在黑名单.1    50000 non-null object
当前逾期        45184 non-null float64
资产是否被查封     50000 non-null object
是否执行记录      50000 non-null object
dtypes: float64(17), int64(1), object(43)
memory usage: 23.3+ MB
None

,商机编号,客户名称,是否被添加微信,贷款类型,房产性质,建房时长,房产位置,房产面积,房产市价,有无房产证,...,有社保,社保已交年限,芝麻信用分,是否在黑名单,是否超额负债,是否本人咨询,是否在黑名单.1,当前逾期,资产是否被查封,是否执行记录
0,0,李艳,添加,信用贷,NaN,NaN,NaN,NaN,NaN,NaN,...,有,1.0,497.0,不在,不是,是,不在,0.0,不是,是
1,1,陶静,未添加,信用贷,NaN,NaN,NaN,NaN,NaN,NaN,...,有,2.0,455.0,不在,不是,是,不在,1.0,不是,不是
2,2,张桂芳,未添加,信用贷,NaN,NaN,NaN,NaN,NaN,NaN,...,有,1.0,484.0,不在,不是,是,不在,1.0,不是,不是
3,3,何凤兰,未知,抵押贷,其他,6.0,外地,77.0,77.06,没有,...,没有,NaN,469.0,不在,不是,是,不在,0.0,不是,不是
4,4,吴晨,添加,信用贷,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,520.0,不在,是,是,不在,0.0,不是,是

In [3]:
salesMan_df = pd.read_excel('商务模拟数据.xlsx',encoding = 'utf-8')
print(salesMan_df.shape)
print(salesMan_df.info())
salesMan_df.head()

(360, 21)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 360 entries, 0 to 359
Data columns (total 21 columns):
login_name              360 non-null int64
performance_amount_y    193 non-null float64
每月签单次数_y                293 non-null float64
working_hours_y         341 non-null float64
SUCCESS_CALL_y          318 non-null float64
sex                     360 non-null int64
work_area               360 non-null object
work_age                360 non-null int64
visit_count             360 non-null int64
平均签单周期                  360 non-null int64
平均备注字数                  360 non-null int64
违规记录                    360 non-null int64
操行分                     360 non-null int64
每月日均意向客户数               360 non-null int64
婚姻情况                    360 non-null int64
有无子女                    360 non-null int64
房产情况                    360 non-null int64
车                       360 non-null int64
负债                      360 non-null int64
芝麻信用分                   360 non-null int64
私人手机使用                  360 non-null int64
dtypes: float64(4), int64(16), object(1)
memory usage: 61.9+ KB
None

,login_name,performance_amount_y,每月签单次数_y,working_hours_y,SUCCESS_CALL_y,sex,work_area,work_age,visit_count,平均签单周期,...,违规记录,操行分,每月日均意向客户数,婚姻情况,有无子女,房产情况,车,负债,芝麻信用分,私人手机使用
0,943997746,1469.0,NaN,106.85,127.0,0,WORK_AREA_CD,0,2,2,...,0,65,1,1,0,0,1,0,411,1
1,47696701,2000.0,8.0,108.42,375.0,1,WORK_AREA_CQ,16,19,12,...,1,97,8,1,1,0,0,0,620,1
2,101104,9167.6,7.0,113.88,438.0,1,WORK_AREA_GZ,1,3,8,...,0,74,3,0,0,1,0,0,454,0
3,37098340,3000.0,8.0,151.88,648.0,1,WORK_AREA_BJ,10,25,0,...,0,91,9,1,0,0,0,0,480,1
4,101116,8190.0,5.0,125.30,497.0,0,WORK_AREA_FS,1,3,16,...,1,80,9,1,0,1,1,0,13,1

# 制造评分矩阵

In [4]:
login_names = salesMan_df['login_name'].values.tolist()
businessIDs = business_df['商机编号'].values.tolist()
random.shuffle(businessIDs)
rating = []
index = 0
count = int(len(businessIDs) / len(login_names))
for i in tqdm(range(len(login_names))):
    for j in  range(index,index + count):
        rating.append([login_names[i],businessIDs[j],np.random.random(10)[0]])
    index = index + count
rating[-10:]

HBox(children=(IntProgress(value=0, max=360), HTML(value='')))

[[2413520, 17197, 0.8155594254121252],
 [2413520, 44845, 0.858655253996295],
 [2413520, 30795, 0.671712888414343],
 [2413520, 22818, 0.3012336984352977],
 [2413520, 19689, 0.4946018489888587],
 [2413520, 6184, 0.5766252295910745],
 [2413520, 47614, 0.16965899791254513],
 [2413520, 46562, 0.30549451158607155],
 [2413520, 37874, 0.36349042189872727],
 [2413520, 19237, 0.2487777111879952]]

In [5]:
columns_list = ['工号','商机编号','评分']
# data_dict = {}
# for column_name in columns_list:
#     data_dict['column_name'] = np.zeros(5000)
    
df = pd.DataFrame(data = rating, columns=columns_list)
df

              工号   商机编号        评分
0      943997746  19362  0.321741
1      943997746  48655  0.495169
2      943997746   8997  0.609000
3      943997746  41932  0.300043
4      943997746  46798  0.752591
5      943997746  42687  0.162822
6      943997746  24191  0.452620
7      943997746  26334  0.006291
8      943997746  39587  0.090003
9      943997746   7993  0.388945
10     943997746     87  0.000365
11     943997746  33964  0.327864
12     943997746  36560  0.167006
13     943997746  37423  0.903849
14     943997746  26436  0.914229
15     943997746  11992  0.701864
16     943997746  14143  0.269676
17     943997746  12316  0.982581
18     943997746  29481  0.975082
19     943997746   4449  0.098109
20     943997746  15148  0.490020
21     943997746  21966  0.344654
22     943997746   9682  0.476820
23     943997746  42704  0.936610
24     943997746   9041  0.065968
25     943997746  16328  0.129883
26     943997746  11252  0.951478
27     943997746  17879  0.214660
28     943997746   5560  0.421822
29     943997746  28437  0.810835
...          ...    ...       ...
49650    2413520  33829  0.047353
49651    2413520  26422  0.539382
49652    2413520  29783  0.049633
49653    2413520   3393  0.312095
49654    2413520   1530  0.461627
49655    2413520  24568  0.085165
49656    2413520  45383  0.953130
49657    2413520  48595  0.037090
49658    2413520   4063  0.761851
49659    2413520  44032  0.705296
49660    2413520   9795  0.803486
49661    2413520  41547  0.155021
49662    2413520  37720  0.982052
49663    2413520   4626  0.684631
49664    2413520  38596  0.950769
49665    2413520   3214  0.283232
49666    2413520     96  0.476895
49667    2413520  26445  0.044220
49668    2413520  36050  0.913248
49669    2413520  38013  0.960256
49670    2413520  17197  0.815559
49671    2413520  44845  0.858655
49672    2413520  30795  0.671713
49673    2413520  22818  0.301234
49674    2413520  19689  0.494602
49675    2413520   6184  0.576625
49676    2413520  47614  0.169659
49677    2413520  46562  0.305495
49678    2413520  37874  0.363490
49679    2413520  19237  0.248778

[49680 rows x 3 columns]

In [6]:
writer = pd.ExcelWriter('模拟评分矩阵.xlsx')
df.to_excel(writer,'Sheet1')
writer.save()