In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
import random
from tqdm import tqdm_notebook as tqdm

In [2]:
follow_df = pd.read_excel('跟进日期3.1-3.10.xls',encoding = 'utf-8')
print(follow_df.shape)
print(follow_df.info())
follow_df.head()

(65535, 41)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65535 entries, 0 to 65534
Data columns (total 41 columns):
id                  65535 non-null int64
create_time         65535 non-null object
creater_id          65535 non-null int64
creater_org_id      65535 non-null int64
creater_name        65535 non-null object
update_time         65535 non-null object
updater_id          0 non-null float64
updater_org_id      0 non-null float64
updater_name        0 non-null float64
source_flag         0 non-null float64
read_flag           0 non-null float64
customer_id         65535 non-null int64
table_name          65535 non-null object
table_id            65535 non-null int64
table_no            65535 non-null object
content             65535 non-null object
remark_type         65535 non-null object
remark_node         0 non-null float64
alt_json            64666 non-null object
from_user_id        0 non-null float64
from_user_org_id    0 non-null float64
to_user_id          0 non-null float64
to_user_org_id      0 non-null float64
ext_1               6402 non-null object
ext_2               6402 non-null object
ext_3               6402 non-null object
ext_4               65535 non-null object
ext_5               43330 non-null object
ext_6               4353 non-null object
ext_7               0 non-null float64
ext_8               0 non-null float64
ext_9               0 non-null float64
ext_10              0 non-null float64
ext_11              64467 non-null object
ext_12              46126 non-null object
ext_13              7838 non-null object
ext_14              0 non-null float64
ext_15              0 non-null float64
upload_type         65535 non-null int64
upload_time         65535 non-null int64
upload_origin       65535 non-null object
dtypes: float64(16), int64(7), object(18)
memory usage: 20.5+ MB
None

,id,create_time,creater_id,creater_org_id,creater_name,update_time,updater_id,updater_org_id,updater_name,source_flag,...,ext_9,ext_10,ext_11,ext_12,ext_13,ext_14,ext_15,upload_type,upload_time,upload_origin
0,7789597655843389440,2019-03-01 07:03:38,100000062,1267,刘凌51788672,2019-03-01 07:03:38,NaN,NaN,NaN,NaN,...,NaN,NaN,广东省,广州市,NaN,NaN,NaN,1,1551395018775,db_iboss_uc.uc_customer_record
1,7789613240597790720,2019-03-01 08:05:34,7748335685171601408,898,邓海娟982464635,2019-03-01 08:05:33,NaN,NaN,NaN,NaN,...,NaN,NaN,广东省,广州市,NaN,NaN,NaN,1,1551398734648,db_iboss_uc.uc_customer_record
2,7789613278099062784,2019-03-01 08:05:43,7662157010700505088,898,肖楚燚65488305,2019-03-01 08:05:42,NaN,NaN,NaN,NaN,...,NaN,NaN,广东省,广州市,NaN,NaN,NaN,1,1551398742812,db_iboss_uc.uc_customer_record
3,7789613325265584128,2019-03-01 08:05:54,7748335685171601408,898,邓海娟982464635,2019-03-01 08:05:54,NaN,NaN,NaN,NaN,...,NaN,NaN,广东省,广州市,NaN,NaN,NaN,1,1551398754580,db_iboss_uc.uc_customer_record
4,7789613447729299456,2019-03-01 08:06:23,7662157010700505088,898,肖楚燚65488305,2019-03-01 08:06:23,NaN,NaN,NaN,NaN,...,NaN,NaN,广东省,广州市,NaN,NaN,NaN,1,1551398783563,db_iboss_uc.uc_customer_record

In [6]:
sheet_names = ['Sheet1(2)','Sheet1(3)','Sheet1(4)','Sheet1(5)','Sheet1(6)','Sheet1(7)']
column_names = follow_df.columns.values.tolist()
dfs = [follow_df]
for i in tqdm(range(len(sheet_names))):
    df2 = pd.read_excel('跟进日期3.1-3.10.xls',encoding = 'utf-8',sheet_name=sheet_names[i],header=None)
    df2.columns = column_names
    print(df2.shape)
    dfs.append(df2)

df = pd.concat(dfs)
print(df.shape)
print(df.info())
df.head()

HBox(children=(IntProgress(value=0, max=6), HTML(value='')))

(65536, 41)
(65536, 41)
(65536, 41)
(65536, 41)
(65536, 41)
(65536, 41)

(458751, 41)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 458751 entries, 0 to 65535
Data columns (total 41 columns):
id                  447859 non-null float64
create_time         447859 non-null object
creater_id          447859 non-null float64
creater_org_id      447859 non-null float64
creater_name        447859 non-null object
update_time         447859 non-null object
updater_id          0 non-null float64
updater_org_id      0 non-null float64
updater_name        0 non-null float64
source_flag         0 non-null float64
read_flag           0 non-null float64
customer_id         447859 non-null float64
table_name          447859 non-null object
table_id            447859 non-null float64
table_no            447859 non-null object
content             447859 non-null object
remark_type         447859 non-null object
remark_node         0 non-null float64
alt_json            440842 non-null object
from_user_id        0 non-null float64
from_user_org_id    0 non-null float64
to_user_id          3 non-null float64
to_user_org_id      3 non-null float64
ext_1               53532 non-null object
ext_2               53534 non-null object
ext_3               53534 non-null object
ext_4               447859 non-null object
ext_5               298451 non-null object
ext_6               23564 non-null object
ext_7               3 non-null object
ext_8               0 non-null float64
ext_9               3 non-null object
ext_10              0 non-null float64
ext_11              439529 non-null object
ext_12              311664 non-null object
ext_13              55017 non-null object
ext_14              0 non-null float64
ext_15              0 non-null float64
upload_type         447859 non-null float64
upload_time         447859 non-null float64
upload_origin       447859 non-null object
dtypes: float64(21), object(20)
memory usage: 147.0+ MB
None

,id,create_time,creater_id,creater_org_id,creater_name,update_time,updater_id,updater_org_id,updater_name,source_flag,...,ext_9,ext_10,ext_11,ext_12,ext_13,ext_14,ext_15,upload_type,upload_time,upload_origin
0,7.789598e+18,2019-03-01 07:03:38,1.000001e+08,1267.0,刘凌51788672,2019-03-01 07:03:38,NaN,NaN,NaN,NaN,...,NaN,NaN,广东省,广州市,NaN,NaN,NaN,1.0,1.551395e+12,db_iboss_uc.uc_customer_record
1,7.789613e+18,2019-03-01 08:05:34,7.748336e+18,898.0,邓海娟982464635,2019-03-01 08:05:33,NaN,NaN,NaN,NaN,...,NaN,NaN,广东省,广州市,NaN,NaN,NaN,1.0,1.551399e+12,db_iboss_uc.uc_customer_record
2,7.789613e+18,2019-03-01 08:05:43,7.662157e+18,898.0,肖楚燚65488305,2019-03-01 08:05:42,NaN,NaN,NaN,NaN,...,NaN,NaN,广东省,广州市,NaN,NaN,NaN,1.0,1.551399e+12,db_iboss_uc.uc_customer_record
3,7.789613e+18,2019-03-01 08:05:54,7.748336e+18,898.0,邓海娟982464635,2019-03-01 08:05:54,NaN,NaN,NaN,NaN,...,NaN,NaN,广东省,广州市,NaN,NaN,NaN,1.0,1.551399e+12,db_iboss_uc.uc_customer_record
4,7.789613e+18,2019-03-01 08:06:23,7.662157e+18,898.0,肖楚燚65488305,2019-03-01 08:06:23,NaN,NaN,NaN,NaN,...,NaN,NaN,广东省,广州市,NaN,NaN,NaN,1.0,1.551399e+12,db_iboss_uc.uc_customer_record

In [7]:
writer = pd.ExcelWriter('跟单记录3.1-3.10.xlsx')
df.to_excel(writer,'Sheet1')
writer.save()